<div class="content">
  <div class="container">
    <div class="row">
      
      <div class="col-md-6">
        <img src="assets/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
      </div>
     
      <div class="col-md-6">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="text-center">
              <i class="fas fa-user-circle mb-4"></i>
            </div>

            <div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
              <ol class="carousel-indicators">
                <li data-slide-to="0" class="active"></li>
                <li data-slide-to="1"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                 
                  <form  #loginFormDirective="ngForm" [formGroup]="loginForm" (ngSubmit)="login()">
                    <mat-form-field class="w-100 mb-1">
                      <mat-label>Username</mat-label>
                      <input matInput placeholder="Username" formControlName="email" #nameInput>
                      <mat-error *ngIf="loginForm.controls['email'].invalid">
                        <div *ngIf="loginForm.controls['email'].errors.required">Username is required</div>
                        <div *ngIf="loginForm.controls['email'].errors.email">Invalid username</div>
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-100">
                      <mat-label>Password</mat-label>
                      <input matInput placeholder="Password" type="password" formControlName="password" #password>
                      <mat-error *ngIf="loginForm.controls['password'].invalid">
                        <div *ngIf="loginForm.controls['password'].errors.required">Password is required</div>
                      </mat-error>
                    </mat-form-field>

                    <div class="text-right mb-4">
                      <a (click)="forgotPassword()" class="forgot-pass">Forgot Password</a>
                    </div>

                    <input type="submit" value="Log In" [disabled]="!loginForm.valid" class="btn btn-block btn-primary">
                    <div  class="alert alert-danger mt-2" role="alert">
                    </div>
                  </form>
                </div>
               
                <div class="carousel-item">
                  <form *ngIf="resetPassword" #resetFormDirective="ngForm" [formGroup]="resetPasswordForm" (ngSubmit)="updatePassword()">

                    <mat-form-field hidden class="w-100 mb-1">
                      <mat-label>User Id</mat-label>
                      <input matInput placeholder="User Id" formControlName="userId">
                    </mat-form-field>


                    <mat-form-field class="w-100 mb-1">
                      <mat-label>Username</mat-label>
                      <input matInput placeholder="Username" formControlName="email">
                      <mat-error *ngIf="resetPasswordForm.controls['email'].invalid">
                        <div *ngIf="resetPasswordForm.controls['email'].errors.required">Username is required</div>
                        <div *ngIf="resetPasswordForm.controls['email'].errors.email">Invalid username</div>
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-100 mb-1">
                      <mat-label>New Password</mat-label>
                      <input matInput placeholder="Password" type="password" formControlName="password">
                      <mat-error *ngIf="resetPasswordForm.controls['password'].invalid">
                        <div *ngIf="resetPasswordForm.controls['password'].errors.required">Password is required</div>
                      </mat-error>
                    </mat-form-field>
                   
                    <div class="text-right mb-4">
                      <a (click)="back()" class="forgot-pass">Back</a>
                    </div>
                    <input type="submit" [value]="btnName" [disabled]="!resetPasswordForm.valid" class="btn btn-block btn-primary">
                    <div id="alert" class="alert d-none alert-danger mt-2" role="alert">
                    </div>
                  </form>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>