<div class="row p-4">
    <mat-tab-group mat-align-tabs="start" class="w-100" (selectedTabChange)="getLeaveRequests($event)">
        <mat-tab label="PENDING"> <ng-template [ngTemplateOutlet]="MsgRef"></ng-template></mat-tab>
        <mat-tab label="APPROVED"> <ng-template [ngTemplateOutlet]="MsgRef"></ng-template></mat-tab>
        <mat-tab label="REJECTED"> <ng-template [ngTemplateOutlet]="MsgRef"></ng-template></mat-tab>
    </mat-tab-group>
</div>

<ng-template #MsgRef >
<div class="row p-4">
    <mat-card class="w-100">
        <mat-card-header>
            <mat-card-title>MANAGE LEAVE REQUESTS</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="w-100">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. employee name" #input>
            </mat-form-field>
            <mat-table [dataSource]="dataSource" #sort matSort>

                <ng-container matColumnDef="employeeId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> EMPLOYEE ID </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.employee.employeeId}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="empName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> EMPLOYEE NAME </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.employee.empName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="leaveType">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> LEAVE TYPE </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.leave.leaveType}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="leaveReason">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> LEAVE REASON </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.leaveReason}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="leaveFrom">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>LEAVE START DATE</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.leaveFrom | date}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="leaveTo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>LEAVE END DATE</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.leaveTo | date}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>LEAVES STATUS</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.status == 1 ? 'PENDING' : row.status == 2 ? 'APPROVED' : 'REJECTED'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef> ACTION </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="action-link py-1"> 
                        <button (click)="approveRejectRequest(element.id, 2)" [disabled] = "element.employee.employeeId == data.employeeId || element.status == 2 ||  element.status == 3" mat-raised-button class="mr-1" color="primary">
                           Approve
                        </button>
                        <button (click)="approveRejectRequest(element.id, 3)" [disabled] = "element.employee.employeeId == data.employeeId || element.status == 2 || element.status == 3" mat-raised-button class="mr-1" color="primary">
                            Reject
                         </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <tr class="mat-row text-center" *matNoDataRow>
                    <td class="mat-cell vw-100 p-3" colspan="10">No data found</td>
                </tr>
            </mat-table>
            <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>
</ng-template>